### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
new_set = set()

  Create a set of your favorite colors and print it.

In [3]:
new_set.add('red')
new_set.add('blue')
new_set.add('green')
new_set

{'blue', 'green', 'red'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [4]:
old_set = new_set.copy()
new_set.clear()
new_set.add('black')
new_set.add(1)
new_set.add(1.11)
print(old_set)
print(new_set)

{'red', 'blue', 'green'}
{1, 'black', 1.11}

Access the elements of a set using a loop and print each element.

In [5]:
for item in old_set:
    print(item)

red
blue
green

add a new element to a set using the add() method.

In [9]:
new_set.add('True')
new_set

{1, 1.11, 'True', 'black'}

Add multiple elements to a set using the update() method.

In [10]:
old_set.update(new_set)
print(old_set)

{1, 1.11, 'blue', 'green', 'black', 'red', 'True'}

Remove and return an arbitrary element from a set using the pop() method.

In [11]:
val = old_set.pop()
print(val)

1

Remove a specific element from a set using the remove() method.

In [13]:
old_set.remove('True')
old_set

{1.11, 'black', 'blue', 'green', 'red'}

Remove a specific element from a set using the discard() method.

In [14]:
old_set.discard('black')

Convert a string to a set of unique characters.

In [15]:
string = 'Hello World'
char_set = set(string)
char_set

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

Convert a set of characters to a string.

In [19]:
# cahrset to string
new_string = ''.join(char_set)
new_string

' eoWlrHd'

Use the clear() method to remove all elements from a set.

In [20]:
new_set.clear()
new_set

set()

Use the copy() method to create a shallow copy of a set.

In [21]:
import copy
new_set = copy.copy(old_set)
new_set

{1.11, 'blue', 'green', 'red'}

Use the difference() method to find the difference between two sets.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set1.difference(set2)

{1, 2}

Create two sets and find their union.

In [25]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

    Create two sets and find their intersection.

In [26]:
set1.intersection(set2)

{3, 4, 5}

 Create two sets and find their difference.

In [27]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set1.difference(set2)

{1, 2}

    Create two sets and find their symmetric difference.

In [28]:
set1.symmetric_difference(set2)

{1, 2, 6, 7}

Check if one set is a subset of another.

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}
set2.issubset(set1)

True

    Check if one set is a superset of another.

In [30]:
set1.issuperset(set2)

True

    Check if two sets are disjoint (have no common elements).

In [31]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.isdisjoint(set2)

True