### Assignment-05 (DICTIONARY)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty dictionary and print it.

In [1]:
my_dict = {}

    Create a dictionary representing a person with keys such as 'name', 'age', and 'city'.

In [2]:
my_dict['name'] = 'Anas'
my_dict['age'] = 23
my_dict['city'] = 'Lahore'
my_dict

{'name': 'Anas', 'age': 23, 'city': 'Lahore'}

    Create a dictionary that includes keys with different data types (strings, integers).

In [3]:
new_dict = {}
new_dict['name'] = 'Ali'
new_dict[24] = 'age'
new_dict['city'] = 'Sahiwal'
new_dict

{'name': 'Ali', 24: 'age', 'city': 'Sahiwal'}

Access and print the value associated with a specific key.

In [4]:
print(my_dict['name'])

Anas

    Use the get() method to access a value, providing a default value if the key is not present.

In [5]:
print(my_dict.get('name'))
print(my_dict.get('degree', 'Not Found'))

Anas
Not Found

    Iterate through the keys of a dictionary and print each key.

In [6]:
for key in my_dict:
    print(key)

name
age
city

Add a new key-value pair to a dictionary.

In [7]:
my_dict['degree'] = 'BSCS'
my_dict

{'name': 'Anas', 'age': 23, 'city': 'Lahore', 'degree': 'BSCS'}

Modify the value associated with an existing key.

In [8]:
my_dict['degree'] = 'BSDS'
my_dict

{'name': 'Anas', 'age': 23, 'city': 'Lahore', 'degree': 'BSDS'}

Remove a specific key-value pair from a dictionary using the pop() method.

In [9]:
my_dict.pop('degree')
my_dict

{'name': 'Anas', 'age': 23, 'city': 'Lahore'}

    Remove a specific key-value pair from a dictionary using the del statement.

In [10]:
del my_dict['age']
my_dict

{'name': 'Anas', 'city': 'Lahore'}

Convert a dictionary to a list of keys.

In [11]:
print(list(my_dict.keys()))

['name', 'city']

    Convert a dictionary to a list of values.

In [12]:
print(list(my_dict.values()))

['Anas', 'Lahore']

    Convert a list of tuples to a dictionary.

In [13]:
lst = [(1,2), (3,4), (5,6)]
dict(lst)

{1: 2, 3: 4, 5: 6}

Use the keys() method to get a list of keys in a dictionary.

In [14]:
my_dict.keys()

dict_keys(['name', 'city'])


    Use the values() method to get a list of values in a dictionary.

In [15]:
my_dict.values()

dict_values(['Anas', 'Lahore'])

    Use the items() method to get a list of key-value pairs in a dictionary.

In [16]:
my_dict.items()

dict_items([('name', 'Anas'), ('city', 'Lahore')])

Check if a key is present in a dictionary using the in operator.

In [17]:
print('degree' in my_dict)

False

    Use the setdefault() method to add a key with a default value if it doesn't exist.

In [18]:
my_dict.setdefault('degree', 'BSDS')
my_dict

{'name': 'Anas', 'city': 'Lahore', 'degree': 'BSDS'}

    Merge two dictionaries using the update() method.

In [19]:
my_dict.update(new_dict)
my_dict

{'name': 'Ali', 'city': 'Sahiwal', 'degree': 'BSDS', 24: 'age'}

    Use the clear() method to remove all elements from a dictionary.

In [20]:
my_dict.clear()
my_dict

{}