### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [44]:
my_list = []
print(my_list)

[]

Create a list of your favorite colors and print it.

In [45]:
fav_colors = ['blue', 'green', 'red']
print(fav_colors)

['blue', 'green', 'red']

Create a list that includes a mix of data types (integers, strings, floats).

In [46]:
my_list = [3, 'dog', 3.14, fav_colors]
print(my_list)

[3, 'dog', 3.14, ['blue', 'green', 'red']]

Access the first element of a list.

In [47]:
my_list[0]

3

Access the last element of a list.

In [48]:
my_list[-1]

['blue', 'green', 'red']

 Access the second and third elements of a list.

In [49]:
my_list[1]

'dog'


Slice a list to extract the first three elements.

In [50]:
my_list[0:3]

[3, 'dog', 3.14]

Slice a list to extract the last three elements.

In [51]:
# Slice a list to extract the last three elements.
my_list[-3:]

['dog', 3.14, ['blue', 'green', 'red']]

Slice a list to get every second element.

In [52]:
my_list[::2]

[3, 3.14]

Reverse a list using slicing.

In [53]:
my_list[::-1]

[['blue', 'green', 'red'], 3.14, 'dog', 3]

 Create two lists and concatenate them.

In [54]:
my_list = [3, 'dog', 3.14]
your_list = [5, 'cat', 4.13]

our_list = my_list + your_list
print(our_list)

[3, 'dog', 3.14, 5, 'cat', 4.13]


Repeat a list multiple times using the repetition operator

In [55]:
my_list * 3

[3, 'dog', 3.14, 3, 'dog', 3.14, 3, 'dog', 3.14]

Add a new element to the end of a list using the append() method.

In [56]:
my_list.append('hello')
print(my_list)

[3, 'dog', 3.14, 'hello']


Extend a list with elements from another list using the extend() method.

In [57]:
my_list.extend(your_list)
print(my_list)

[3, 'dog', 3.14, 'hello', 5, 'cat', 4.13]

Insert an element at a specific index in a list using the insert() method.

In [58]:
my_list.insert(1, 'hello')
print(my_list)

[3, 'hello', 'dog', 3.14, 'hello', 5, 'cat', 4.13]

 Remove the last element from a list using the pop() method.

In [59]:
my_list.pop()
print(my_list)

[3, 'hello', 'dog', 3.14, 'hello', 5, 'cat']

Remove a specific element from a list using the remove() method.

In [60]:
my_list.remove('hello')
print(my_list)

[3, 'dog', 3.14, 'hello', 5, 'cat']

Clear all elements from a list.

In [61]:
my_list.clear()
print(my_list)

[]

Delete an element at a specific index using the del statement.

In [62]:
my_list = [3, 'dog', 3.14]
del my_list[1]
print(my_list)

[3, 3.14]

Convert a string to a list of characters and vice-versa.

In [63]:
string = 'hello'
my_list = list(string)
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [64]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
my_list.sort()
print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

In [65]:
my_list.sort(reverse=True)
print(my_list)

[9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

Reverse the order of a list using the reverse() method.

In [66]:
my_list.reverse()
print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]

Check if an element is present in a list using the in operator.

In [67]:
print(4 in my_list)

True

Compare two lists to see if they are equal in both value and identity.

In [68]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
your_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

print(my_list == your_list)
print(my_list is your_list)

True
False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [71]:
import copy
my_list = [3, 1, [4, 1, 5, 9, 2], 6, 5, 3]
your_list = copy.copy(my_list)
your_list[2][0] = 100
print(my_list)

[3, 1, [100, 1, 5, 9, 2], 6, 5, 3]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [72]:
my_list = [3, 1, [4, 1, 5, 9, 2], 6, 5, 3]
your_list = copy.deepcopy(my_list)
your_list[2][0] = 100
print(my_list)

[3, 1, [4, 1, 5, 9, 2], 6, 5, 3]

Pickle and Unpickle a list and display its content.

In [73]:
import pickle
my_list = [3, 1, [4, 1, 5, 9, 2], 6, 5, 3]
with open('my_list.pkl', 'wb') as file:
    pickle.dump(my_list, file)

In [74]:
# Read the pickled list from the file.
with open('my_list.pkl', 'rb') as file:
    my_list = pickle.load(file)
print(my_list)

[3, 1, [4, 1, 5, 9, 2], 6, 5, 3]