### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [3]:
tup1 = ()
print(tup1)

()

    Create a tuple of your favorite fruits and print it.

In [4]:
fruits = ('apple', 'banana', 'cherry')
print(fruits)

('apple', 'banana', 'cherry')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [5]:
tup2 = ("str",True, 1, 2.0)
print(tup2)

('str', True, 1, 2.0)

  Access the first element of a tuple.

In [6]:
fruits[0]

'apple'

    Access the last element of a tuple.

In [7]:
fruits[-1]

'cherry'

Access the second and third elements of a tuple.

In [8]:
print(fruits[1],fruits[2])

banana cherry


    Slice a tuple to extract the first three elements.

In [9]:
tup2[:3]

('str', True, 1)

Slice a tuple to extract the last three elements.

In [11]:
tup2[len(tup2)-4:len(tup2)-1]

('str', True, 1)

   Slice a tuple to get every second element.

In [12]:
tup2[::2]

('str', 1)

    Reverse a tuple using slicing.

In [13]:
tup2[::-1]

(2.0, 1, True, 'str')

Create two tuples and concatenate them.

In [14]:
tup3 = fruits + tup2
print(tup3)

('apple', 'banana', 'cherry', 'str', True, 1, 2.0)

    Repeat a tuple multiple times using the repetition operator.

In [15]:
fruits*3

('apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry')

Find the index of a specific element in a tuple using the index() method.

In [16]:
fruits.index('banana')

1

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [17]:
fruits.count('banana')

1

Sort a tuple of numbers in ascending order.

In [22]:
numbers = (2,7,4,1,8,1)
tuple(sorted(numbers))

(1, 1, 2, 4, 7, 8)

    Sort a tuple of strings in alphabetical order.

In [21]:
tuple(sorted(fruits))

('apple', 'banana', 'cherry')

Sort a tuple of tuples based on the second element of each inner tuple.

In [24]:
tup4 = ((2,9),(56,5),(5,67),(8,9),(1,0),(2,3))
tuple(sorted(tup4, key=lambda x: x[1]))

((1, 0), (2, 3), (56, 5), (2, 9), (8, 9), (5, 67))

Compare two tuples to see if they are equal in both value and identity.

In [25]:
tup5 = ('z','t','a','x')
tup6 = ('z','t','a','x')
print(tup5 == tup6)
print(tup5 is tup6)

True
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [29]:
from copy import copy, deepcopy
tup6 = copy(tup5)
tup6 = list(tup6)
tup6[0] = 'b'
tup6 = tuple(tup6)
print(tup5)
print(tup6)

('z', 't', 'a', 'x')
('b', 't', 'a', 'x')

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [34]:
tup7 = deepcopy(tup4)
tup7 = list(tup7)
tup7[0] = list(tup7[0])
tup7[0][0] = 19898
tup7[0] = tuple(tup7[0])
tup7 = tuple(tup7)
print(tup4)
print(tup7)

((2, 9), (56, 5), (5, 67), (8, 9), (1, 0), (2, 3))
((19898, 9), (56, 5), (5, 67), (8, 9), (1, 0), (2, 3))

    Pickle a tuple and save it to a file.

In [41]:
import pickle
pickle.dump(tup7,open('tuple.pkl',"wb"))

    Unpickle a tuple from a file and display its content.

In [42]:
tup8 = pickle.load(open('tuple.pkl',"rb"))
print(tup8)

((19898, 9), (56, 5), (5, 67), (8, 9), (1, 0), (2, 3))